h1,
h2,
h3,
h4 {
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 32px !important;
  color: #bddedd !important;
}

a {
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #80c0bd !important;
}

span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

/*Scrollbar customization for Chrome*/
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #339a95;
  border-radius: 200px;
}

/*Scrollbar customization for Firefox*/

label {
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  color: #ffffff !important;
}

.wFormContainer fieldset legend {
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  color: #bddedd !important;
}

.wFormWebPage,
.wFormContainer {
  background-color: #00403d;
}

.wFormContainer .wForm {
  background-color: #00403d;
}

.wFormContainer .wfTab {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  border-radius: 24px;
  border: 0px solid black;
  background: #005a56;
  width: 32px;
  height: 32px;
  color: #bddedd;
  box-sizing: border-box;
}

.wFormContainer .wfTab.wfTabCurrentPage {
  border: 1px solid #80c0bd;
  border-radius: 24px;
  background: #00817b;
  width: 32px;
  height: 32px;
  color: #ffffff;
}

.wFormContainer .wForm .inputWrapper input[type="text"],
.wFormContainer .wForm .inputWrapper input[type="password"] {
  background-color: #006e69 !important;
  color: #ffffff;
  border-radius: 4px 4px 0px 0px;
  width: 389px;
  height: 56px;
  margin: 12px 0px;
  border: none !important;
  border-bottom: 1px solid #80c0bd !important;
}

.wFormContainer
  .wForm
  .inputWrapper
  input:not([type="file"]):not(.tt-hint):read-only,
.wFormContainer .wForm .inputWrapper textarea:read-only {
  background-color: #006e69 !important;
  color: #ffffff !important;
  border-radius: 4px 4px 0px 0px;
  width: 389px;
  height: 56px;
  margin: 12px 0px;
  border: none !important;
  border-bottom: 1px solid #80c0bd !important;
}

.wFormContainer .wForm .inputWrapper select {
  background-color: #006e69 !important;
  color: #ffffff;
  border-radius: 4px 4px 0px 0px;
  max-width: 348px;
  height: 56px !important;
  margin: 12px 0px;
  border: none !important;
}
.wFormContainer .wForm .inputWrapper select:valid {
  background-color: red;
}

.wFormContainer .wForm .inputWrapper select[multiple] {
  background-color: #006e69 !important;
  color: #ffffff;
  border-radius: 4px 4px 0px 0px;
  max-width: 348px;
  height: 240px !important;
  margin: 12px 0px;
  border: none !important;
  scrollbar-color: #339a95 rgba(0, 0, 0, 0); /* Firefox only*/
}

.wFormContainer .wForm .inputWrapper select[multiple] > option {
  background-color: #006e69 !important;
  color: #ffffff;
  max-width: 100%;
  height: 52px !important;
  border: none !important;
  overflow: hidden;
  word-wrap: normal !important;
  white-space: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  display: flex;
  align-items: center;
}

.wFormContainer .wForm .inputWrapper textarea {
  background-color: #006e69 !important;
  color: #ffffff;
  border-radius: 4px 4px 0px 0px;
  width: 437px;
  height: 120px;
  margin: 12px 0px;
  border: none !important;
  border-bottom: 1px solid #80c0bd !important;
  font-size: 16px;
  line-height: 22px;
}

.wFormContainer .wForm .inputWrapper input[type="text"]:focus {
  color: #ffffff;
  border: "none" !important;
}

.wFormContainer fieldset {
  border: 1px solid #80c0bd !important;
  border-radius: 15px;
}

.wFormContainer .wfPagingButtons .wfPageNextButton,
.wFormContainer .wfPagingButtons .wfPagePreviousButton {
  background: #bddedd;
  border-radius: 100px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #00403d;
  padding: 14px 24px;
  width: 114px;
  height: 48px;
}

.wFormContainer .wFormFooter .supportInfo {
  text-align: left;
  margin-left: 1.5vw;
}
