/* Global */
nav {
  background-color: #005a56 !important;
}

input {
  background-color: #00403d !important;
}

.button[_ngcontent-wdq-c191] {
  background-color: #bddedd;
  border-radius: 100px;
  text-transform: capitalize !important;
  color: #00403d !important;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

/* Desktop */
.appBar {
  background-color: #005a56 !important;
}

.appBar-header {
  background-color: #005a56;
}

.mat-tab-links {
  background-color: #005a56;
}

.content {
  color: #bddedd;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.overview {
  background-color: #005a56;
}

.bt-date-badge__month[_ngcontent-sfa-c173] {
  background-color: #00817b;
  color: #ffffff;
}

.bt-date-badge__day[_ngcontent-sfa-c173] {
  background-color: #eff1f0;
  color: "black";
}

#date-and-time,
#location,
#description {
  background-color: #005a56;
}

/* Mobile phone */
.mobile-menu {
  justify-content: center;
}
