/* -- Global -- */

:root {
  --errorColor: #ff9a9a !important;
}

body {
  background-color: #002725;
}

nav {
  background-color: #005a56 !important;
}

section {
  border-radius: 0 !important;
}

b,
strong,
h1,
i {
  color: #ffffff !important;
}

/* -- Desktop -- */
/* Landing Pages */
.appbar {
  background-color: #005a56 !important;
  box-shadow: none !important;
  position: relative !important;
}

.mat-tab-links,
.nav-container,
.overview {
  background-color: #005a56 !important;
  box-shadow: none !important;
}

.appbar-header {
  height: 4.5rem !important;
}

.language-selector-button {
  background-color: #006e69 !important;
  border-radius: 4px 4px 0px 0px;
  border-bottom: 1px solid #80c0bd !important;
  height: 56px;
}

.search .search-wrapper .search-field {
  background-color: #00403d !important;
  border-radius: 28px !important;
  margin-right: 16px !important;
  height: 56px !important;
}

i.search-icon {
  color: #80c0bd !important;
  top: 0.4rem !important;
  left: 0.5rem !important;
  width: 18px;
  height: 18px;
}

.mat-menu-item {
  background-color: #006e69 !important;
}

.mat-menu-panel {
  background-color: #006e69 !important;
}

.button {
  background-color: #bddedd !important;
  border-radius: 100px !important;
  text-transform: capitalize !important;
  color: #00403d !important;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.action-button,
.action-button.get-tickets-button {
  background-color: #bddedd !important;
  border-radius: 100px !important;
  text-transform: capitalize !important;
  color: #00403d !important;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  width: 101px;
  height: 48px;
}

.content {
  color: #ffffff !important;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.container {
  background-color: #005a56 !important;
}

.bt-date-badge {
  box-shadow: none !important;
}

.bt-date-badge__month {
  background-color: #00817b !important;
  color: #ffffff !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  letter-spacing: 0.1px !important;
}

.bt-date-badge__month:first-letter,
.bt-date-badge__month:first-line {
  text-transform: uppercase;
}

.bt-date-badge__day {
  background-color: #eff1f0 !important;
  color: #000000 !important;
}

.bt-card-header {
  color: #e5f2f2 !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 19px !important;
  letter-spacing: 1.2px !important;
  border-bottom: 1px solid #4ca7a3 !important;
}

.bt-card {
  background-color: #005a56 !important;
}

.featured-session-header,
.main .bt-card-header {
  background-color: #005a56 !important;
  color: #e5f2f2 !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 19px !important;
  letter-spacing: 1.2px !important;
  text-transform: uppercase;
  border-bottom: 1px solid #4ca7a3;
}

.featured-session-container.active {
  background-color: #005a56 !important;
}

.featured-session-name {
  color: #e5f2f2 !important;
}

.mat-raised-button .mat-button-wrapper > * {
  text-transform: capitalize !important;
}

.mat-tab-link {
  text-transform: capitalize !important;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #bddedd !important;
  font-weight: 400 !important;
}

.mat-tab-label-active {
  color: #ffffff !important;
  font-weight: 700 !important;
}

.time-block-header {
  background-color: #00817b !important;
  color: #ffffff !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  letter-spacing: 0.15px !important;
  display: inline-block;
}

.session-item-container {
  background-color: #005a56 !important;
}

.session-info .session-name {
  color: #bddedd !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  letter-spacing: 0.1px !important;
}

.session-info .session-date-time {
  color: #ffffff !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  letter-spacing: 0.15px !important;
}

.session-info .session-date-time .material-icons {
  color: #ffffff !important;
}

.action-button {
  background-color: #bddedd;
  color: #00403d !important;
  text-transform: capitalize !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 14px !important;
  letter-spacing: 0.1px;
}

.welcome {
  background-color: #bddedd !important;
  color: #00403d !important;
}

.welcome .actions button {
  border-radius: 100px;
  color: #00817b !important;
  border: 1px solid #00817b !important;
  text-transform: lowercase;
}

.welcome .actions button:first-line {
  text-transform: capitalize;
}

/* Registration Pages */
.mat-expansion-panel {
  background-color: #005a56 !important;
}

.mat-expansion-panel-header:hover {
  background-color: #005a56 !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex,
.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple),
.mat-select-panel mat-option.mat-option {
  background-color: #006e69;
}

.ticket-questionnaire .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 0.75em 0 0.75em !important;
}

.mat-select-panel mat-option.mat-option:hover,
.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple):hover {
  background-color: #339a95;
}

.mat-select-placeholder {
  color: #ffffff !important;
}

.ticket-count-wrapper .redeem-button {
  border-radius: 100px;
  border: 1px solid #80c0bd;
  text-transform: lowercase;
  color: #80c0bd !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: 0.1px !important;
  height: 48px;
}

.ticket-count-wrapper .redeem-button:first-line {
  text-transform: capitalize;
}

.ticket-count-wrapper .status-text:not(:empty) {
  color: #ff8b8b !important;
  text-transform: capitalize !important;
  border: 1px solid #ff8b8b !important;
  border-radius: 8px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  text-align: center !important;
  letter-spacing: 0.1px !important;
  padding: 6px 8px !important;
}

.ticket-count-wrapper .ticket-price {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
}

.card-wrapper .card-header,
.order-summary-card .card-header {
  color: #e5f2f2 !important;
  border-bottom: 1px solid #4ca7a3 !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 19px !important;
  letter-spacing: 1.2px !important;
}

.edit-link {
  text-transform: lowercase !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: 0.1px !important;
  color: #bddedd !important;
}

.edit-link:first-letter {
  text-transform: uppercase !important;
}

.date-title {
  background-color: #00817b;
  margin: 0 !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  color: #ffffff !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  letter-spacing: 0.15px !important;
}

.event-ticket-wrapper .mat-stroked-button:not([disabled]).mat-primary {
  background-color: #bddedd !important;
  border: none;
  border-radius: 100px;
  width: 112px;
  height: 48px;
  font-weight: 700;
  color: #00403d;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.filter-content .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0.75em 0.75em 0 0.75em !important;
}

.mat-flat-button.mat-primary {
  background-color: transparent !important;
  border: 1px solid #bddedd !important;
  width: 112px;
  height: 48px;
  border-radius: 100px;
  color: #bddedd !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: 0.1px !important;
}

.expand-link,
.collapse-link {
  color: #bddedd !important;
  text-transform: lowercase;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: 0.1px !important;
}

.expand-link:first-line,
.collapse-link:first-line {
  text-transform: capitalize;
}

.order-summary-card .collapse-arrow,
.order-summary-card .expand-arrow {
  color: #bddedd !important;
}

.session-list-container {
  background-color: #005a56 !important;
  border: none !important;
}

.session-list-container .session-title {
  color: #ffffff;
  font-weight: 700 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  letter-spacing: 0.1px !important;
  margin-left: 1.3rem !important;
}

.session-list-container .session-row {
  margin: 0.5rem 0 !important;
}

.order-summary-card .clear-icon-button .mat-icon {
  color: #bddedd !important;
  line-height: 17px !important;
}

.mat-stepper-label-position-bottom
  .mat-horizontal-stepper-header
  .mat-step-icon {
  background-color: #80c0bd;
}

.mat-step-header .mat-step-label {
  color: #b2b2b2;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.15px;
}

.mat-step-label-selected {
  color: #ffffff !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  letter-spacing: 0.3px !important;
}

.mat-stepper-label-position-bottom
  .mat-horizontal-stepper-header
  .mat-step-label {
  color: #a9acab;
}

.mat-stepper-horizontal-line,
.mat-horizontal-stepper-header:before,
.mat-horizontal-stepper-header:after {
  background-color: #339a95 !important;
}

.event-details .session-time {
  color: #bddedd !important;
}

.session-title,
.attendee-title,
.attendee-title .ticket-title,
.ticket-row .ticket-title,
.session-summary .session-count-text,
.mat-select-value-text {
  color: #ffffff !important;
}

.mat-select-arrow {
  color: #ffffff !important;
}

.mat-form-field-label {
  color: #ffffff;
}

.mat-form-field-label .mat-placeholder-required {
  color: red !important;
}

/* Complete Page */
.status-card-body h1 {
  color: #e5f2f2 !important;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.25px;
}

.status-card-body .instruction {
  color: #bddedd !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1px;
}

.status-card-body .actions .mat-stroked-button:not([class*="mat-elevation-z"]) {
  width: 172px;
  background-color: transparent !important;
  color: #ffffff !important;
  border-radius: 4px !important;
  border: 1px solid #80c0bd;
}

.actions .done-btn {
  background-color: #00817b !important;
  border: none !important;
  color: #ffffff !important;
  text-transform: lowercase;
  width: 320px !important;
}

.actions .done-btn:first-line {
  text-transform: capitalize;
}

/* Thank you pages */

/* -- Mobile -- */
/* Landing Pages */
.mobile-registration-action-container {
  background-color: #005a56 !important;
}

.mobile-registration-button {
  background-color: #bddedd !important;
  border-radius: 100px !important;
  height: 48px;
  text-transform: capitalize !important;
  color: #00403d !important;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.mobile-menu {
  justify-content: center;
  background-color: #f2f9f8 !important;
}

.bottom-nav .mobile-menu__item i,
.bottom-nav span {
  color: #5c5f5e !important;
}

.order-summary-sticky {
  background-color: #ffffff !important;
}

.order-summary-sticky .cart-icon {
  color: #2e3130 !important;
}

.mat-badge-small.mat-badge-overlap.mat-badge-after .mat-badge-content {
  background-color: #00817b;
}

@media screen and (max-width: 37.4375rem) {
  .order-summary-card.show-summary .bt-card {
    background-color: #002725 !important;
  }
}

@media screen and (max-width: 37.4375rem) {
  .order-summary-card .card-header {
    background-color: #00817b !important;
  }
}

@media screen and (max-width: 59.9375rem) {
  .filter-content.fields-2 .quarter-width {
    width: 100% !important;
  }
}

@media screen and (max-width: 59.9375rem) {
  .actions .done-btn {
    width: 150% !important;
  }
}
